In [144]:
from bs4 import BeautifulSoup
import pandas as pd

In [145]:
def read_results(results):
    all_data = []
    for result in results:
        name = result.find_all("td")[2].text
        age = result.find_all("td")[3].text
        time = result.find_all("td")[7].text
        data = dict(name=name, age=age, time=time)
        all_data.append(data)
    return all_data

In [172]:
def parse_results(files):
    all_results = []
    for file_to_parse in files:
        f = open(file_to_parse, encoding='unicode_escape')
        soup = BeautifulSoup(f, 'html.parser')
        results = soup.body.form.table.findAll("table")[8].find_all("tr")[1:]

        parsed_results = read_results(results)
        all_results.extend(parsed_results)
        f.close()
        
    return all_results

In [173]:
files_to_parse = !ls data/2023_int_sp/F*.html
f_results = parse_results(files_to_parse)

files_to_parse = !ls data/2023_int_sp/M*.html
m_results = parse_results(files_to_parse)

In [174]:
df_f = pd.DataFrame(f_results)
df_f["gender"] = "F"

df_m = pd.DataFrame(m_results)
df_m["gender"] = "M"

df = pd.concat([df_m, df_f])

In [175]:
df

                           name age      time gender
0            JOSE LUIZ DA SILVA  46  02:38:40      M
1                 RODOLFO SCALO  47  02:39:21      M
2         RICARDO RICCI GIGIOLI  33  02:39:35      M
3           WILSON PEREIRA SENA  50  02:39:45      M
4                 PAULO PENINHA  35  02:40:06      M
..                          ...  ..       ...    ...
438             JULIA INES DIAZ  64  04:01:15      F
439              FERNANDA SILVA  32  04:01:26      F
440  CHRISTIANE NOVAES DE SOUZA  46  04:01:28      F
441     MARIANA MATSUI SHINZATO  50  04:01:30      F
442     GABRIELA GATTA B AZENHA  38  04:01:37      F

[3155 rows x 4 columns]

In [176]:
df.to_csv("data/2023_int_sp/2023_int_sp.csv")